<% provide(:title, "著者プロフィール") %>
<h1>著者プロフィール</h1>
<%= @author.id %>, <%= @author.name %>, <%= @author.email %>, <%= @author.sex %><br>
<%= @author.introduction %><br>
<%= @author.created_at %>, <%= @author.updated_at %><br>